body{
  margin: 0;
  overflow-x: hidden;
}

.card
{
  transition: all 0.3s;
  background-color: #2ca46c99; /* 198754 */
}

.card:hover
{
  transform: scale(1.03);
}

.text
{
  border-radius: 50px;
  opacity: 50%;
  font-weight: bold;
}

.beeg
{
  size: 50px;
}

.invisible-button
{
  display: none;
}

.bg-img
{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

img
{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.center
{
  justify-content: center;
  display: flex;
  align-items: center;
}

.text-centered
{
  text-align: center;
}

.smallwidth
{
  width: 50%;
}

.lightpadding
{
  padding-top: 40px;
  padding-bottom: 20px;
}

.smallopacity
{
  opacity: 50%;
}

#btn-back-to-top
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 2;
}

.searchbox
{
  padding-left: 25%;
  padding-right: 40%;
  width: auto;
}

@media (min-width: 700px){
  .chopchop
  {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 700px){
  .chopchop
  {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#autocomplete
{
  z-index: 5;
  opacity: 50%;
}
