body{
  height: 5000px;
  overflow-x: hidden;
}

.bg-img
{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

img
{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.center
{
  text-align: center;
}

.smallwidth
{
  width: 50%;
}

.lightpadding
{
  padding-top: 40px;
  padding-bottom: 20px;
}

.smallopacity
{
  opacity: 50%;
}