body{
  background-color: #3c668d;
}

.center
{
  text-align: center;
}

.smallwidth
{
  width: 50%;
}

.lightpadding
{
  padding-top: 40px;
  padding-bottom: 20px;
}

.smallopacity
{
  opacity: 50%;
}