{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="center lightpadding hx-50">
        <form action="/searchResults" method="get">
            <div class="mb-3">
                <input autocomplete="off" class="mx-auto w-auto text form-control-lg" id="searchInput" name="query" placeholder="Search" type="text">
                <button class="invisble-button" hidden type="submit">Confirm</button>
            </div>
        </form>
    </div>
{% endblock %}