{% extends 'layout.html' %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <div class="div-transparent-bg container-lg chop-chop" style="height: 80vh">
        <div class="row">
            <div class="col-lg-2 col-sm-12 py-3 text-center fw-bolder">
                    Settings
            </div>
            <div class="col-lg-10 col-sm-12 py-3 justify-content-center ">
                
                <div class="fw-bold">
                    <u class="settings-color">
                        Privacy
                    </u>
                </div>

                <div class="rich-charcoal">
                    Delete Your Search History:
                    <button class="btn btn-sm btn-warning rounded-2 ms-2" id="delete" onclick="send(id, '/deleteHistory')">DELETE HISTORY</button>
                </div>

                <div class="py-3 rich-charcoal">
                    {% if pref == 1 %}
                        Disable
                    {% else %}
                        Enable
                    {% endif %}
                    History Records:
                    <button class="btn btn-sm btn-info rounded-2 ms-2" id="disable" onclick="send(id, '/enableDisableHistory')">
                        {% if pref == 1 %}
                            DISABLE
                        {% else %}
                            ENABLE
                        {% endif %}
                    </button>
                </div>

                <div class="fw-bold">
                    <u class="settings-color">
                        User Settings
                    </u>
                </div>

                <div class="rich-charcoal">
                    <label>Change Password: </label>
                    <div>
                        <form action="/changePassword" method="POST">
                            <div class="form-floating py-2 short-input">
                                <input name="currentPassword" id="currentPw" class="form-control" type="password">
                                <label for="currentPw">Current Password</label>
                            </div>
                            <div class="form-floating py-2">
                                <input name="newPassword" id="newPw" class="form-control" type="password">
                                <label for="newPw">New Password</label>
                            </div>
                            <button class="btn btn-sm btn-info rounded-2  ms-2" type="submit">Change Password</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>

        // Posts to a route passed in (To delete history or disable search records)
        function send(id, route)
        {
            // Gets reference to button in DOM
            let button = document.getElementById(id);

            // AJAX request : When it is done, disable button and display completed as content
            $.ajax({
                url: route,
                type: 'POST'
            }).done( function()
            {
                button.disabled = true;
                button.innerHTML = 'Completed';
            });
        }
    </script>
{% endblock %}