{% extends 'layout.html' %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <div class="transparent-div fw-bold container-lg" style="height: 80vh">
        <div class="row">
            <div class="col-lg-2 col-sm-12 py-2">
                Settings
            </div>
            <div class="col-lg-10 col-sm-12 py-3">
                <div class="justify-content-center">
                    Delete Your Search History:
                    <button class="btn btn-sm btn-warning ms-2" id="delete" onclick="send(id, '/deleteHistory')">DELETE HISTORY</button>
                </div>
                <div class="justify-content-center py-3">
                    {% if pref == 1 %}
                        Disable
                    {% else %}
                        Enable
                    {% endif %}
                    History Records:
                    <button class="btn btn-sm btn-info ms-2" id="disable" onclick="send(id, '/enableDisableHistory')">
                        {% if pref == 1 %}
                            DISABLE
                        {% else %}
                            ENABLE
                        {% endif %}
                    </button>
                </div>
                <div class="py-3">
                    <label>Change Password: </label>
                    <div>
                        <input placeholder="Previous Password" type="password">
                        <input placeholder="New Password" type="password">
                        <button class="btn btn-sm btn-info ms-2" onclick="">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        // Posts to a route passed in (To delete history or disable search records)
        function send(id, route)
        {
            // Gets reference to button in DOM
            let button = document.getElementById(id);

            // AJAX request : When it is done, disable button and display completed as content
            $.ajax({
                url: route,
                type: 'POST'
            }).done( function()
            {
                button.disabled = true;
                button.innerHTML = 'Completed';
            });
        }
    </script>
{% endblock %}