{% extends 'layout.html' %}

{% block title %}
    Terms And Regulations
{% endblock %}

{% block main %}
    <div class="justify-content-center text-white px-2 text-center chop-chop">
        <p>
        By registering to Item Harvest I allow the website to record my search history on this website solely for search recommendations.
        I also allow Item Harvest to use my IP Address to determine the country I reside in, for the purpose of displaying items' prices in
         my local currency.
         </p>

        <p>
            I will not use this web application to conduct any criminal or illegal activities, and if that case is violated I, the user will bear all
            the responsibilities and consequences of my actions.
        </p>

        <p>
            I acknowledge that this web application was made as a final project for CS50x, and will not share any personal or confidential data with this
            web app as I am aware that security breaches may occur, and I will hold myself the user responsible if I did not follow this stated term.
        </p>
    </div>
{% endblock %}