{% extends 'layout.html' %}

{% block title %}
    Wishlist
{% endblock %}

{% block main %}
    <div class="container justify-content text-centered">
        <h3 class="text-white">Your Items' Wishlist</h3>
        <h2 class="text-white" id="total">Total: <span class="currency">{{ currency }}</span> 000</h2>
    </div>
    <div class="container">
        <div class="row gy-3 my-3" id="main">
            {% for item in user_wishlist %}
            <div class="col-sm-3" id="{{ item.link }}">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ item.img }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">
                            <button class="btn btn-close-white btn-dark" onclick="remove('{{item.link}}')">Remove</button>
                        </p>
                        <p class="card-text price">
                            <span class="currency">
                                {{ currency }}
                            </span>
                            <span class="amount">
                                {% if item.local_price %}
                                    {{ item.local_price | formatPrice }}
                                {% else %}
                                    {{ item.price | formatPrice }}
                                {% endif %}
                            </span>
                        </p>
                        <p class="card-text">{{ item.retailer }}</p>
                        <a href="{{ item.link }}" class="btn btn-primary">Link</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bigdecimal/0.6.1/bigdecimal.min.js"></script>

    <script>
        
        // Calculates total from all items in wishlist and display on webpage
        let prices = Array.from(document.getElementsByClassName('price'));

        total = new BigDecimal("0.00");
        prices.forEach(function(price){

            amount = price.getElementsByClassName('amount')[0].innerHTML;
            amount = amount.trim();
            amount = new BigDecimal(amount);
            total = total.add(amount);
        });

        let f_total = total.setScale(2, 4);

        let total_element = document.getElementById('total');
        let currency = total_element.getElementsByClassName('currency')[0].innerHTML.trim();
        total_element.innerHTML = `Total: ${currency} ${f_total}`;

        // Function to decrement total by the item's price due to its removal
        function updateTotal(price)
        {
            price = new BigDecimal(price.trim());
            total = total.subtract(price);
            let f_total = total.setScale(2, 4);

            total_element.innerHTML = `Total: ${currency} ${f_total}`;
        }

        // Function to remove an item from wishlist in database and on the screen
        function remove(link)
        {
            // Gets element in the DOM
            item = document.getElementById(link)

            // AJAX request to send the item url to '/remove' route, and remove item on client side's DOM asynchronously
            $.ajax({
                url: '/remove',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'item': link})
            }).done(function(){
                // Gets price of item
                let price = item.getElementsByClassName('price')[0];
                price = price.getElementsByClassName('amount')[0];
                price = price.innerHTML;
                // Updates total
                updateTotal(price);
                // Remove item from DOM
                item.remove();
            });
        }
    </script>
{% endblock %}